.d-none {
  display: none;
}

league-standings {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

league-standing {
  background-color: #ccc;
  display: block;
  padding: 20px;
  border-radius: 4px;
  margin: 0.5em;
}

league-standing img {
  width: 80px;
}
