nav {
  margin-bottom: 2em;
}

/* Home page */
.team-item img {
  width: 50px;
  display: inline-block;
  margin-right: 20px;
}

.standing-item img {
  display: inline-block;
}

.standing-item .title {
  font-weight: 700;
}

/* Settings page */
.standing-item img,
.collection-item img {
  width: 25px;
  vertical-align: middle;
  border-radius: 0%;
}
