<div class="container">
  <div class="row">
    <div class="input-field col s12">
      <select id="league-select"> </select>
      <label>Pilih liga</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <select id="team-select"></select>
      <label>Pilih tim</label>
    </div>
  </div>

  <button class="btn deep-orange" type="submit" id="add-team">
    Ikuti tim
  </button>

  <ul class="collection" id="followed-teams-list">
    <li class="collection-item avatar">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/0/0a/1.FC_K%C3%B6ln_escudo.png"
        alt="FC Koln"
        class="circle"
      />
      <span class="team-title">FC Koln</span>
      <p class="team-league">Liga Jerman</p>
    </li>
  </ul>
</div>
